<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>HOPrS QuadTrees List</title>
    <style>
        /* CSS for alternating row colors */
        .even-row {
            background-color: #f2f2f2; /* Light gray */
        }
        .odd-row {
            background-color: #ffffff; /* White */
        }
    </style>
</head>
<body>
    <h1>List of QuadTrees</h1>
    <table>
        <thead>
            <tr>
                <th>QuadTree Reference</th>
                <th>Record Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for qt_ref, count in qt_refs_with_counts %}
            {% set row_class = 'even-row' if loop.index is even else 'odd-row' %}
            <tr class="{{ row_class }}">
                <td>{{ qt_ref }}</td>
                <td>{{ count }}</td>
                <td>
                    <form method="POST" action="{{ url_for('quadtrees_bp.delete_quadtrees', qt_ref=qt_ref) }}">
                        <button type="submit">Delete</button>
                    </form>
                    <form method="GET" action="{{ url_for('quadtrees_bp.download_csv', qt_ref=qt_ref) }}">
                        <button type="submit">Download CSV</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('quadtrees_bp.list_quadtrees', page=page-1, per_page=per_page) }}" {% if page == 1 %}class="disabled"{% endif %}>Previous</a>
        <a href="{{ url_for('quadtrees_bp.list_quadtrees', page=page+1, per_page=per_page) }}">Next</a>
    </div>
    <table border=1>
        <tr>
            <td><a href="/">Encode files</a></td>
            <td><a href="compare">Compare </a></td>
            <td><a href="search">DB Search </a></td>
            <td><a href="quadtrees">DB QuadTree management</a></td>
        </tr>
    </table>
</body>
</html>
